SITE_ADDRESS=10.10.80.71
DBW_ALLOWED_CIDRS=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
DBW_ALLOWED_PORTS=3306,5432
DBW_ALLOWED_SUFFIXES=.internal,.corp.example
DBW_QUERY_TIMEOUT=30s
DBW_PAGE_SIZE=200
DBW_MAX_ROWS=10000
